body{
  margin: 0px;
  padding: 0px;
  background-image:url("../images/loginbackground.png");
  background-size: cover;
  background-position:center;
  font-family:sans-serif;
}
.loginbox{
  width: 320px; height: 420px;
  background:#000000;
  color: #fff;
  top:50%; left:50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}